// root for colors and fonts 

:root
{
    --color-primary: #9c3737;
    --color-secondary: #37cf37;
    --color-tertiary: #2c2b2b;
    --color-text-white: white;
    --color-text-dark: black;
    --color-border: #3d3c3c;    
    --font-primary: 'Roboto', sans-serif;
}