// root for colors and fonts 

:root
{
    --color-primary: #222021;
    --color-secondary:#f9c112;
    --color-tertiary: #47b389;
    --color-quaternary: #e5492c;
    --color-text-white: white;
    --color-text-dark: black;
    --color-border: #3d3c3c;    
    --font-primary: 'Roboto', sans-serif;
}